.drivers {
    display: flex;
    height: calc(100% - 30px);
    width: 100%;
    justify-content: space-between;
}

.main-border-driver {
    background-color: white;
    width: 95vw;

}

.main-padding {
    height: calc(65vh - 35px);
    min-height: 300px;
    padding: 10px 10px 0 10px;
}

.filter-input-field {
    box-shadow: 0px 0px 2px 0px rgba(90,114,109,1);
    width: 25%;
    color: #6b6767;
    border-radius: 4px;
    border: 1px solid;
    height: 1.1875em;
    padding: 6px 5px 7px;
    margin-bottom: 15px;
}

.main-footer {
    height: calc(35vh - 35px);
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
}

.driver-map {
    width: 58%;
}

.drivers-border {
    width: 40%;
    height: 100%;
}

.drivers-list-header {
    padding-left: 5px;
    background-color: green;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.driver-list-container {
    height: calc(100% - 80px);
    background-color: #333232;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: auto;
}

.drivers-list {
    height: 100%;
}

.drivers-sort-buttons {
    margin-right: 20px;
    color: black
}