.main-border {
    background-color: white;
    width: 98vw;
    height: calc(100vh - 50px);
}

.main-footer {
    min-height: 150px;
    display: flex;
    height: 30%;
    justify-content: center;
    padding: 10px;
}
