.fixed_header {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 100%;
    background: black;
    color: white;
}

.fixed_header thead tr {
    display: block;
}

.fixed_header thead {
    color: black;
    background: green;
}

.fixed_header th, .fixed_header td {
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
}

.task-table-title {
    width: 8vw;
}

.task-table-scheduled {
    width: 16vw;
}

.task-table-assign {
    width: calc(10vw - 15px)

}

.task-table-address {
    width: 33vw;
}

.task-table-lat {
    width: 8vw;
}

.task-table-lng {
    width: 8vw;
}

.task-table-display {
    width: 8vw;
}