.app {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.app-header {
    color: white;
    height: 10px;
    margin: 10px 0 20px;

}

html, body {
    margin: 0;
    height: 100%;
    background-color: black;
}

button {
    border-radius: 5px;
    font-size: 0.6em;
    padding: 4px 8px;
    border-style: none;
    cursor: pointer;
}