.driver {
    width: 95%;
    margin-bottom: 10px;
    border-radius: 2px;
    min-height: 65px;
    background-color: white;
    display: flex;
    padding: 3px;
    position: relative;
}

.driver-img {
    height: 30px;
    width: 30px;
    /*background-color: red;*/
    border-radius: 100%;
}

.driver-task {
    margin-top: 13px;
    font-size: 0.8em;
    color: #818080;
}

.driver-name {
    font-weight: bold;
}

.driver-age {
    font-size: 0.8em;
    color: #818080;
    margin-top: 2px;
}

.driver-button {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 10px;
    color: white;
}

.driver-location-button {
    background-color: #2a5385;
    margin-right: 3px;
    color: white;
}

.driver-remove-button {
    background-color: #cb2323;
    color: white;
}